<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiscordAuth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DiscordBMTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DiscordCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DiscordGateway.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DiscordHTTP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DiscordModels.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DiscordUtilities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DiscordVoice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GenerateAPIEndpointsExec.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>IntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MacroTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PaicordLib-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PaicordLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Playground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>TestCode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DiscordAuth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordBMTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordGateway</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordHTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordModels</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DiscordUtilities</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>GenerateAPIEndpointsExec</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IntegrationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MacroTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PaicordLib</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TestCode</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
